<h2>Menu</h2>
<div class="col-12 text-right">
  <a
    routerLink="addmenu"
    routerLinkActive="active"
    class="btn btn-dark text-right"
    (click)="onClick()"
    >Add Menu</a
  >
</div>
<br />
<div class="card">
  <div class="table-responsive-xs">
    <table class="table table-striped table-inverse">
      <thead class="thead-inverse">
        <tr>
          <th>ID.</th>
          <th>MID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Add to Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListMenu; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ item.MID }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>

          <td>
            <a
              class="btn btn-outline-primary"
              role="button"
              *ngIf="item.quantity != 0"
              (click)="addToCart(i)"
            >
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
