<div class="card">
  <div class="card-body">
    <h4 class="card-title">Profile</h4>
    <div class="row">
      <div class="col-md-2">
        <img
          src="https://media.discordapp.net/attachments/1029230460225732639/1039148405525598258/9e9a4216997da98a.png"
          class="img-thumbnail"
          alt="Your Image"
        />
      </div>
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">Profile</div>
          <div class="card-body">
            <div class="row" style="padding: 5px">
              <div class="col-lg-2">
                <i class="fa fa-id-card" aria-hidden="true"></i> Employee ID:
              </div>
              <div class="col-lg-10 text-left">{{ employee?.EmpID }}</div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-lg-2">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Name:
              </div>
              <div class="col-lg-10 text-left">{{ employee?.name }}</div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-lg-2">
                <i class="fa fa-venus-mars" aria-hidden="true"></i> Gender:
              </div>

              <div class="col-lg-10 text-left">
                <div *ngIf="employee?.gender == 'Female'">
                  {{ employee?.gender }}&nbsp;<i
                    class="bi bi-gender-female"
                  ></i>
                </div>
                <div *ngIf="employee?.gender == 'Male'">
                  {{ employee?.gender }}&nbsp;<i class="bi bi-gender-male"></i>
                </div>
              </div>
            </div>
            <!-- <div class="row" style="padding: 5px">
                <div class="col-lg-2">
                  <i class="fa fa-birthday-cake" aria-hidden="true"></i> Birth
                  Year:
                </div>
                <div class="col-lg-10 text-left"></div>
              </div>
              <div class="row" style="padding: 5px">
                <div class="col-lg-2">
                  <i class="fa fa-birthday-cake" aria-hidden="true"></i> Age:
                </div>
                <div class="col-lg-10 text-left"></div>
              </div> -->
            <div class="row" style="padding: 5px">
              <div class="col-lg-2">
                <i class="fa fa-at" aria-hidden="true"></i> Email:
              </div>
              <div class="col-sm-10 text-left">{{ employee?.email }}</div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-lg-2">
                <i class="fa fa-phone" aria-hidden="true"></i> Phone:
              </div>
              <div class="col-lg-10 text-left">{{ employee?.tel }}</div>
            </div>

            <div class="row" style="padding: 5px">
              <div class="col-lg-10 text-center">
                <button
                  type="button"
                  class="btn btn-info btn-sm"
                  data-toggle="modal"
                  data-target="#edit"
                >
                  <i class="bi bi-pencil-fill"></i>&nbsp;Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<div class="modal fade" id="edit">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Profile</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="card-body">
          <form [formGroup]="employeeEditForm">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Employee ID :</label>
              <div class="col-sm-7">
                <input
                  type="text"
                  class="form-control"
                  value="{{ employee?.EmpID }}"
                  formControlName="EmpID"
                  readonly
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Name : </label>
              <div class="col-sm-7">
                <input
                  type="string"
                  class="form-control"
                  value="{{ employee?.name }}"
                  formControlName="name"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Gender : </label>

              <div class="col-sm-7" style="margin-top: 10px">
                <div class="form-check form-check-inline">
                  <label class="form-check-label"
                    ><input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      value="Male"
                      formControlName="gender"
                      checked="{{ employee?.gender == 'Male' }}"
                    />Male</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label"
                    ><input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      value="Female"
                      formControlName="gender"
                      checked="{{ employee?.gender == 'Female' }}"
                    />Female</label
                  >
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-7">
                <input
                  type="email"
                  class="form-control"
                  value="{{ employee?.email }}"
                  formControlName="email"
                  readonly
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tel : </label>
              <div class="col-sm-7">
                <input
                  type="string"
                  class="form-control"
                  value="{{ employee?.tel }}"
                  formControlName="tel"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-center">
                <div class="row" style="padding: 5px">
                  <div class="col-lg-12 text-center">
                    <button
                      type="button"
                      class="btn btn-info btn-sm"
                      (click)="submit()"
                    >
                      Save &nbsp;<i class="bi bi-download"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
